<!-- pc 端的 footer -->
<footer class='footer-pc'>
  <div class='footer-row'>
    <div class='footer-logo'>
      <img
        class='thumb'
        src="https://ae01.alicdn.com/kf/HTB1gH3Iak9E3KVjSZFrq6y0UVXav.jpg"
        alt=""
      />
      <div>© 凉宫春日应援团</div>
    </div>
    <div class='intro'>
      <div class='intro-title'>加入我们</div>
      <div class='intro-list'>
        <a class='intro-link' href='https://jq.qq.com/?_wv=1027&k=5MEfsMF'>
          <img src="https://ae01.alicdn.com/kf/HTB1tZwHaf1G3KVjSZFkq6yK4XXaB.jpg" alt=""/>
        </a>
        <a class='intro-link' href='https://space.bilibili.com/201296348'>
          <img src="https://ae01.alicdn.com/kf/HTB1aLkIakWE3KVjSZSyq6xocXXa8.jpg" alt="">
        </a>
        <a class='intro-link' href='https://m.weibo.cn/profile/6488657840'>
          <img src="https://ae01.alicdn.com/kf/H4e90430198a0470ab4b743b56d68c396E.png" alt="">
        </a>
      </div>
    </div>
    <div class='link-list'>
      <div class='link-list-title'>传送门</div>
      <div class='link-list-content'>
        <a class='link-ele' href='https://space.bilibili.com/201296348'>应援团</a>
        <a class='link-ele' href='http://haruhifanclub.com/library'>书架</a>
        <a class='link-ele' href='http://haruhifanclub.com/game'>游戏</a>
        <a class='link-ele' href='http://haruhifanclub.com/shop/index'>商城</a>
        <a class='link-ele' href="#">资源站</a>
        <a class='link-ele' href="http://haruhifanclub.com/handbook">团员手册</a>
        <a class='link-ele' href='http://haruhifanclub.com/donate'>赞助</a>
      </div>
    </div>
  </div>
  <div class='footer-row'>
    <div class='footer-last'>技术支持：凉宫春日应援团技术组</div>
  </div>
</footer>

<!-- mobile 端的 footer -->
<footer class='footer-mobile'>
  <h5>传送门</h5>
  <div class='link-row'>
    <a class='link-ele' href='https://space.bilibili.com/201296348'>应援团</a>
    <a class='link-ele' href='http://haruhifanclub.com/library'>书架</a>
    <a class='link-ele' href='http://haruhifanclub.com/game'>游戏</a>
    <a class='link-ele' href='http://haruhifanclub.com/shop/index'>商城</a>
    <a class='link-ele' href="#">资源站</a>
    <a class='link-ele' href="http://haruhifanclub.com/handbook">团员手册</a>
    <a class='link-ele' href='http://haruhifanclub.com/donate'>赞助</a>
  </div>
  <hr>
  <div class='intro-row'>
    <img
      class='thumb'
      src="https://ae01.alicdn.com/kf/HTB1gH3Iak9E3KVjSZFrq6y0UVXav.jpg"
      alt=""
    />
    © 凉宫春日应援团
  </div>
  <div class='intro-row space'>
    加入我们: &nbsp;
    <a class='intro-link' href='https://jq.qq.com/?_wv=1027&k=5MEfsMF'>QQ</a> ｜
    <a class='intro-link' href='https://space.bilibili.com/201296348'>bilibili</a> ｜
    <a class='intro-link' href='https://m.weibo.cn/profile/6488657840'>微博</a>
  </div>
  <div class='intro-row last'>技术支持: 凉宫春日应援团技术组</div>
</footer>