<header>
  <div class='logo'></div>
  <div class='header-title'>
    <p class='header-main-title'>凉宫春日资源站</p>
    <p class='header-sub-title'>本网站由凉宫春日应援团搭建并提供下载服务</p>
  </div>
  <div class="header-search">
    <img src="/img/search.png" alt="" class="icon-search">
    <input type="search" id="app-search">
  </div>
</header>