<header>
  <div class='logo'></div>
  <div class='header-title'>
    <p class='header-main-title'>凉宫春日资源站</p>
    <p class='header-sub-title'>本网站由凉宫春日应援团搭建并提供下载服务</p>
  </div>
  <div class="header-search">
    <img src="/img/search.png" alt="" class="icon-search">
    <input type="search" id="app-search" placeholder="搜索">
  </div>
  <div class="header-m-menu">
    <img src="/img/menu.png" alt="" class="icon-menu">
  </div>
  <div class="header-m-menu-close">
    <img src="/img/close.png" alt="" class="icon-close">
  </div>
  <div class="header-m-title">
    <h2>
      <script>
        document.write(window.sos.curCategory)
      </script>
    </h2>
  </div>
  <div class="header-m-search">
    <img src="/img/search.png" alt="" class="icon-search">
  </div>
</header>