/* 资源列表相关样式 */
.list {
  _float: left;
  display: block;
  height: 100%;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
  overflow: scroll;
}

.list-container {
  _width: 100%;
  padding-top: 20px;
}
.list-container:after {
  content: '';
  display: block;
  clear: both;
}

.list-ele {
  display: block;
  box-sizing: content-box;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 30px;
  transition: background-color 0.5s;
}
.list-ele:hover {
  cursor: pointer;
}
.list-ele:after {
  content: '';
  display: block;
  clear: both;
}

.list-ele-logo {
  height: 64px;
  width: 64px;
  float: left;
  background-color: red;
}
.list-ele-title {
  display: inline-block;
  margin-left: 10px;
  width: calc(99% - 74px);
}
.list-ele-main-title {
  display: block;
  height: 30px;
}
.list-ele-main-title:after {
  content: '';
  display: block;
  clear: both;
}
.list-ele-main-title-content {
  float: left;
  font-family: Microsoft YaHei;
  margin-top: 6px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}
.list-ele-sub-title {
  margin-top: 15px;
  font-family: Microsoft YaHei;
  font-size: 16px;
  line-height: 1;
  color: #707070;
  font-weight: normal;
}
.list-ele-icon {
  height: 36px;
  width: 36px;
  margin-right: 36px;
  float: right;
  line-height: 1;
  transition: all .3s;
  background-image: url(../img/down-arrow.svg);
}
.list-ele-active .list-ele-icon {
  transform: rotate(180deg);
}


.list-ele-active {
  background: #FFEEE9 0% 0% no-repeat padding-box;
}

.list-ele-detail {
  display: block;
  box-sizing: content-box;
  padding-top: 16px;
}
.list-ele-detail:after {
  content: '';
  display: block;
  clear: both;
}
.list-ele-detail-title {
  height: 24px;
  width: 100%;
  font-family: Microsoft YaHei;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}

.list-ele-download {
  float: left;
  display: block;
  width: 30%;
  box-sizing: border-box;
  padding-right: 32px;
}

.download-list-ele {
  font-size: 16px;
  color: #000;
}
.download-list-ele:after {
  content: '';
  display: block;
  clear: both;
}
.download-list-ele-intro {
  float: left;
}
.download-list-ele-size {
  float: right;
}

.list-ele-content {
  float: left;
  box-sizing: border-box;
  display: block;
  width: 70%;
  padding-right: 36px;
}
.list-ele-content-words {
  color: #707070;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: normal;
}
.list-ele-plus-m-download {
  display: none;
}
.list-ele-plus-download {
  margin-top: 20px;
  float: left;
  display: block;
  color: #000;
  font-size: 18px;
  font-family: Microsoft YaHei;
  text-decoration: none;
}
.list-ele-plus {
  float: left;
  display: block;
  color: #000;
  font-size: 18px;
  font-family: Microsoft YaHei;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .list {
    height: 100%;
    border-radius: 0;
  }
  .list-container {
    height: 100%;
    overflow-y: scroll;
    padding-top: 0;
  }
  .list-ele {
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
  }
  .list-ele-active {
    background: none;
  }
  .list-ele-title {
    margin-left: 12px;
  }
  .list-ele-main-title-content {
    font-size: 20px;
    line-height: 29px;
  }
  .list-ele-icon {
    display: none;
  }
  .list-ele-sub-title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .list-ele-detail {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    padding: 10px;
  }
  .list-ele-download {
    width: 100%;
    padding-right: 0;
  }
  .list-ele-detail-title {
    line-height: 26px;
    margin-bottom: 12px;
  }
  .list-ele-download-list {
    display: flex;
    flex-direction: column;
  }
  .download-list-ele {
    display: block;
    margin-bottom: 8px;
  }
  .list-ele-content {
    width: 100%;
    margin-top: 10px;
    padding-right: 0;
  }
  .list-ele-plus-m-download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    padding: 0 10px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0px 2px 2px #0000001A;
  }
  .list-ele-plus-m-download .icon-right {
    width: 24px;
    height: 24px;
  }
  .list-ele-plus-download {
    display: none;
  }
}
